[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
coverage = "*"
# Select the appropreate ones for development. These must match up.
# Django = ">=1.11,<2"
# Django = ">=2.0,<2.1"
Django = ">=2.1,<2.2"
# django-pyodbc-azure = { git = "https://github.com/3YOURMIND/django-pyodbc-azure.git", ref = "1.11.15.1" }
# django-pyodbc-azure = { git = "https://github.com/3YOURMIND/django-pyodbc-azure.git", ref = "2.0.8.1" }
django-pyodbc-azure = { git = "https://github.com/3YOURMIND/django-pyodbc-azure.git", ref = "2.1.0.3" }
"flake8" = "*"
bumpversion = "*"
e1839a8 = {editable = true,path = "."}
"psycopg2-binary" = "*"
pymysql = "==0.9.3"
tox = "*"
black = "==18.6b4"
ipython = "*"
