[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
coverage = "*"
Django = ">=1.11"
"flake8" = "*"
bumpversion = "*"
mysql-connector-python = "*"
mysqlclient = "<1.4"
"psycopg2-binary" = "*"
tox = "*"
black = "==18.6b4"
ipython = "*"
